@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Silkscreen:wght@400;700&display=swap');
/* "Funnel Display", sans-serif
"Silkscreen", sans-serif */

:root {
    --branco: #ECEAFF;
    --verde: #AFE27B;
    --rosa: #db77b3;
    /*--roxo: #160331;*/
        --roxo: #220649;
}

.side {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    margin: 40px 0px 40px 0px;
}

.card {
    width: 25%;
}

.card img {
    width: 100%;
    height: auto;
    border: 2px solid var(--roxo);
    border-radius: 7px;
    margin: 3px;
}

.card video {
    width: 100%;
    height: auto;
    border: 2px solid var(--roxo);
    border-radius: 7px;
    margin: 3px;
}

.card a:hover {
    text-decoration: underline;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0px 5px 0px;
}
.tags span{
    background-color: #db77b38c;
    padding: 5px 10px;
    border-radius: 7px;
}
